.comments-wrapper {
  text-align: right;

  h3, h2 {
    text-align: center;
  }

  .comment-text {
    margin: 15px 0;
  }

  .comment {
    margin-top: 20px;
    text-align: left !important;
  }

  .subs {
    margin-top: 15px;
    margin-left: 15%;

    .main-section__repl-btn {
      display: none;
    }

    @media screen and (max-width: 768px) {
      margin-left: 20px;
    }
  }

  .likes-counter-wrapper {
    text-align: center;
    width: 55px;
  }

  .likes {
    font-weight: 700;
    color: green;
  }

  .dislikes {
    font-weight: 700;
    color: #BA3029;
  }

  .likes-dislikes {
    cursor: pointer;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .reply-button-wrapper {
    text-align: left;
  }

  .main-section__repl-btn {
      margin-right: 0;
  }

  .main-section {
    width: 85%;
    vertical-align: top;
    display: inline-block;

    @media screen and (max-width: 768px) {
        width: 80%;
        font-size: 13px;
    }
  }

  .avatar-section {
    width: 15%;
    display: inline-block;
    img {
      width: 55px;
      height: auto;
    }

        @media screen and (max-width: 768px) {
            width: 20%;

            img {
              width: 38px;
            }
        }
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  .reply__btns__remove {
    color: #939393 !important;
    background-color: #ebebeb !important;
  }

  .comment {
    text-align: center;
  }

  .comment-btn-more {
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 700;
    transition: all ease-in 0.3s;
    color: #BA3029 !important;
    text-decoration: none;
    border-bottom: 1px solid #BA3029;
    border-radius: 0 !important;
    width: auto !important;
    padding: 2px 0 !important;
    background-color: #f8f9fb;
  }

  .show-more-comments {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .like-dislike-btn {
    width: 25px !important;
    height: auto;
  }

  .comments-filter-wrapper {
    display: inline-block;
    width: 100%;
    margin-top: 20px;

    span {
      float: left;
      line-height: 35px;
      font-weight: 700;
    }

    .comments-filter {
      float: right;
    }
  }

  input, textarea, select {
		background-color: #fbfbfb;
		border-radius: 5px;
		border: 1px solid #ddd;
		padding: 10px 15px;
		font-size: 14px;
    display: block;
		color: #929292;
		font-weight: 300;

	    &:focus, &:active {
			outline-width: 0;
			outline: none;
	    }

	    @media screen and (max-width: 768px) {
	    	min-width: auto;
		}
	}

  input, textarea {
    margin: 0 auto;
    min-width: 400px;

  	@media screen and (max-width: 768px) {
      min-width: 0px;
    }
  }

	select {
		min-width: 260px;
		width: 260px;
	}

  .reply__btns {
    text-align: right;
    margin-top: 20px;
  }

  .reply__btns__add {
    margin-right: 20px;
  }

	button {
    background-color: #BA3029;
    color: #fff;
    width: auto;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    border: none;
    margin-right: 12px;
    padding: 10px 37px;
    cursor: pointer;
    border-radius: 5px;

    @media screen and (max-width: 768px) {
        padding: 10px 30px;
    }
	}
}
