@keyframes hide {
    0% {opacity: 0}
    25% {opacity: 0.25}
    50%  {opacity: 0.5}
    75%  {opacity: 0.75}
    100%   {opacity: 1}
}

.no-results {
	text-align: center;
}

.disabled-actions {
	pointer-events: none;
}

.swiper-hide-animation {
    animation-name: hide;
    animation-duration: 0.5s;
}

.constitution-swiper-wrapper {
	background-image: url(../images/flag_pl.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 500px auto;
	padding-bottom: 30px;
	background-color: #fff;

	@media screen and (max-width: 768px) {
		background-position: right 512px;

    &.container-fluid {
      padding-right: 1rem;
      padding-left: 1rem;
    }
	}

	.constitution-swiper {
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
		min-height: 750px;

		.discussion-component-wrapper {
			padding-top: 30px;
		}

		.shadow-border {
			border-radius: 5px;
			padding: 20px;
			box-shadow: 0px 0px 5px rgba(0,0,0,0.2);

			.plain-style-link {

				&:hover {
					p, h3 {

					color: rgba(0,0,0,0.7);
				}
				}
			}
		}

		h1 {
			margin: 40px 0;
			font-size: 2.5em;
		}

		h3 {
			margin: 0;
			color: #e5181f;
		}

		p {
			color: #929292;
		}

		a {
			color: #535353;

			&:hover {
				color: #6c6c6c;
			}
		}

		.suggest-item-toast {
			font-size: 14px;
			background-color: #eee;
			padding: 8px;
			border-radius: 5px;

			&:hover {
				background-color: #e1e1e1;
			}
		}

		.category {
			padding: 10px 20px;

      @media screen and (max-width: 768px) {
        height: 56px;
        position: relative;
      }

			h3 {
				float: left;
			}

			.switcher {
				margin: 4px 0 0px;
    		width: 100px;
				float: right;

				i {
					cursor: pointer;
					float: left;

					&:last-child {
						float: right;
					}
				}

        @media screen and (max-width: 768px) {
          width: 90%;
          height: 75px;
          float: none;
          position: absolute;
          top: 0;
          left: 10px;
          right: 10px;
          z-index: 10;

          i {
            margin-top: 26px;
          }
        }
			}
		}

		.category, .problem {
			margin-bottom: 30px;
			text-align: left;
			background-color: #fff;
		}

		.problem, .solution {
			position: relative;
			background-color: #fff;
		}

		.problem {
			.suggest-problem {
				position: absolute;
				right: -160px;
    			top: 10px;
				text-decoration: none;
			}


			a {
				margin-bottom: 30px;
				color: #535353;
				display: block;
			}

			.switcher {
				position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    border-top: 1px solid #e8e8e8;

			  .content {
		    	padding: 10px 20px;
		    	font-size: 13px;

					span {
						float: left;
						cursor: pointer;

			    	&:last-child {
			    		float: right;
			    	}
					}
			  }
			}
		}

		.solution {
			text-align: left;
			margin-bottom: 20px;

			.suggest-solution {
				position: absolute;
				top: 10px;
				right: -220px;
                text-decoration: none;
			}
		}

		.vote-options {
			button {
				border: none;
				margin: 0 10px;
			}

			.accept-button {
				background-image: url(../images/accept.png);
				width: 73px;
				cursor: pointer;
				height: 74px;
				display: inline-block;
				margin: 0 0 0 10px;
			    background-color: rgba(0,0,0,0);
			    border-radius: 50%;
			    transition: all ease-in-out 0.2s;

				&:hover {
				    box-shadow: 2px 2px 10px rgba(0,0,0,0.5) !important;
				}
			}

			.deny-button {
				background-image: url(../images/deny.png);
				width: 76px;
				cursor: pointer;
				height: 76px;
				display: inline-block;
				margin: 0 0 0 10px;
			    background-color: rgba(0,0,0,0);
			    border-radius: 50%;
			    transition: all ease-in-out 0.2s;

				&:hover {
				    box-shadow: 2px 2px 10px rgba(0,0,0,0.5) !important;
				}
			}

			@media screen and (max-width: 768px) {
				.deny-button, .accept-button {
					background-color: #fff;
  				cursor: pointer;
					border-radius: 50%;
				}
			}
		}

		@media screen and (max-width: 768px) {
			max-width: 100%;

			h1 {
				font-size: 1.8em;
			}

      h3 {
        float: none !important;
        margin: 0 auto;
        text-align: center;
        max-width: 200px;
      }

			.problem, .solution {
				padding: 20px;
				padding-top: 60px;
			}
			.suggest-problem, .suggest-solution {
				left: 20px;
				top: 20px;
				width: 130px;
				right: inherit;
			}

			.suggest-solution {
				width: 190px;
			}
		}
	}
}

.add-solution-wrapper {
  #initiativeForm {
    max-width: 532px;

    @media screen and (max-width: 768px) {
      max-width: 305px;
    }
  }

	padding-bottom: 20px;

	.add-solution-form {
		width: 580px;
	}

	.submit-button {
		background-color: #BA3029;
    color: #fff;
    bottom: 11px;
    width: 45px;
    padding: 10px 37px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
		border-bottom: 3px solid rgba(0,0,0,0.3) !important;
		transition: all ease-in-out 0.08s;

    &:hover {
    	background-color: #c73f54;
		  padding: 13px 37px 7px !important;
    }
  }
}
