.filters-wrapper {
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	position: relative;

	.suggest-initiative-button {
		position: absolute;
	}

	.problem-list-wrapper-fluid {
		&.container-fluid {
			padding-right: 1rem;
			padding-left: 1rem;
		}
	}

	.filters {
		.filter {
			display: inline-block;
			height: 65px;
			line-height: 65px;
			margin-right: 50px;
			color: #cbcbcb;
			transition: color linear 0.5s;
			cursor: pointer;

			&.active {
				color: #424242;
				border-bottom: 2px solid #ba102a;
			}

			&:hover {
				color: #424242;
			}

			@media screen and (max-width: 768px) {
				width: 100%;
				height: 40px;
				line-height: 40px;
				text-align: center;
			}
		}
	}
}
