.footer {
	background-color: #BA3029;
	height: 65px;
	text-align: center;
	line-height: 65px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;

	a {
		text-decoration: none;
		color: #fff;
		font-weight: 300;
		font-size: 14px;
	}

	.terms {
		font-size: 15px;
		font-weight: 500;
		display: inline-block;
		width: 140px;
	}
}
