$red: #BA3029;
$darkRed: #96251D;

.header-wrapper {
  position: relative;
  z-index: 999999;
  background-color: #fff;
  transition: all 0.3s;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);

  .mobile-menu-indicator {
    display: none;
  }

  .active {
    color: #c0443e;
  }

  .constitution-menu-item {
    position: relative;

    .constitution-menu-item-info {
      position: absolute;
      font-weight: 700;
      left: 15px;
      bottom: -3px;
      line-height: 10px;
      font-size: 12px;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    height: 42px;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999999;
    border-bottom: 1px solid #BA3029;

    &.show-mobile-menu {
      height: 275px;
    }

    .menu {
      height: auto;
      position: relative;

      .mobile-menu-indicator {
        position: absolute;
        display: block;
        right: -22px;
        font-size: 12px;
        cursor: pointer;
        color: #fff;
        padding: 2px 5px;
        top: 6px;
        border-radius: 2px;
        background-color: #BA3029;

        div {
          width: 27px;
          border-radius: 3px;
          height: 2px;
          background-color: #fff;
          margin: 5px 0;
        }
      }

      a {
        height: 15px;
      }

      .login-button-wrapper {
        float: none;
      }

      .links {
        float: none;
        margin-top: 20px;

        .menu-element {
          width: 100%;
          padding: 0;
          float: none;
          display: block;
          height: 42px;
          line-height: 42px;
        }
      }
    }

    .menu-logo {
      text-align: center;
      line-height: 15px;
      width: 100%;

      span {
        display: none;
      }

      img {
        height: 15px;
        margin: 0 auto;
        float: none;
      }
    }
  }

  .log-out-button {
    padding: 10px 10px 0;
    height: 33px;
    line-height: 33px;
    width: 123px;
    margin-top: 15px;
    display: block;
    transition: all ease-in-out 0.4s;

    .who {
      margin: 0;
      font-size: 15px;
      height: 32px;
      line-height: 32px;
    }

    img {
      width: 30px;
      vertical-align: center;
      float: left;
      height: 30px;
      border-radius: 50%;
      margin-top: -5px;
      border: 2px solid #fff;
      margin-left: -4px;
    }

    .logout {
      margin: 2px 0 0;
      height: 22px;
      line-height: 22px;
      text-transform: uppercase;
      font-size: 13px;
    }


    @media screen and (max-width: 768px) {
      height: 29px !important;
    }
  }
}

.red-background {
  background-color: $red;
}

.red-border {
  border: 1px solid $darkRed;
}

.heading-black {
  color: #131314;
}

.heading-red {
  color: #98251E;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #434343;
}

/* Menu styles */

.menu {
  font-size: 14px;
  text-align: center;
  height: 65px;

  a {
    height: 58px;
    text-decoration: none;
    line-height: 70px;
    padding: 0;
    color: #434343;

    &:hover {
      color: #c0443e;
    }
  }
}

.menu-element {
  padding: 5px 15px;
  float: left;
  font-size: 16px;
  height: 60px;
  line-height: 70px;
  display: inline-block;
  transition: all ease-in-out 0.3s;


  @media screen and (max-width: 1366px) {
    font-size: 15px;
  }

  &:not(.menu-logo) {
    padding: 0 20px;
  }

  button {
    height: 41px;
    line-height: 27px;
    padding: 0 39px;

    &:hover {
      background-color: #c0443e;
    }
  }
}

.menu-logo {
  float: left;
  margin-top: 14px;
  width: 270px;
  line-height: 65px;

    &:hover {
      span {
        color: #434343;
      }
    }

  img {
    float: left;
    height: 25px;
  }

  span {
    float: left;
    line-height: 20px;
  }
}

.links {
  float: right;
  display: inline-block;
}

.login-button-wrapper {
  float: right;
  padding: 0 !important;

  a {
    background-color: #BA3029;
    color: #fff;
    padding: 12px 22px 13px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    transition: all ease-in-out 0.08s;

    &:hover {
      color: #fff;
      background-color: #c73f54;
    }
  }
}

.button-login {
  border-radius: 5px;
  font-size: 16px;
}
