.jumbotron {
  height: 500px;
  background-image: url(../images/parliament.jpg);
  background-position: center center;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  align-items: center;

  .polishEmblem {
  	position: relative;
  	color: #fff;
  	width: 700px;
    height: 200px;
  	text-align: center;

  	h1 {
  		position: absolute;
  		text-transform: uppercase;
  		letter-spacing: 2px;
      font-size: 40px;
      font-weight: 300;
      right: -210px;
      top: -65px;

      @media screen and (max-width: 1280px) {
        font-size: 34px;
        right: -140px;
      }

      @media screen and (max-width: 1125px) {
        display: none;
      }
  	}

    h2 {
      position: absolute;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 32px;
      right: -275px;
      top: -15px;

      @media screen and (max-width: 1280px) {
        right: -200px;
        font-size: 28px;
      }

      @media screen and (max-width: 1125px) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    background-size: cover;
    background-position: top left;
    display: none;

    .polishEmblem {
      margin-top: 300px;

      h1, h2 {
        position: initial;
        width: auto;
        text-align: center;
      }

      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 25px;
      }
    }
  }
}
