.components-wrapper {
	background-color: #f8f9fb;
	padding-bottom: 65px !important;
}

.intiative-detail-wrapper {
	position: relative;
	padding-top: 50px !important;

	.article {
		padding: 15px;
		display: inline-block;
		border: 1px solid #e6e6e6;
		background: white;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
		text-decoration: none;

		.article-badge {
			background: #ba3029;
			padding: 0px 10px;
			color: #fff;
			font-weight: 600;
			font-size: 14px;
			text-transform: uppercase;
		}

		.article-title {
			color: #696969;
			margin-left: 7px;
			text-decoration: underline;
		}
	}

	.discussion {
		width: 100%;
		float: left;
	}
}

.initiatives-wrapper {
	background-color: #f8f9fb;
	padding-top: 20px;

	@media screen and (max-width: 768px) {
		&.container-fluid {
			padding-right: 1rem;
			padding-left: 1rem;
		}

		.file-upload {
			width: 303px !important;

			input {
				min-width: 150px !important;}
		}
	}

	.hidden {
		display: none;
	}

	.white-pane {
	    text-align: left;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        height: 67px;
        margin-top: 0;

        .previous-page {
		    position: static;
		    margin-top: 23px;
		    display: block;
		    font-size: 13px;
		    font-weight: 700;
		    text-decoration: none;
		    color: #424242;
		    cursor: pointer;
		}
	}

	input, textarea, select {
		background-color: #fbfbfb;
		border-radius: 5px;
		border: 1px solid #ddd;
		padding: 10px 15px;
		font-size: 14px;
		color: #929292;
		min-width: 485px;
		font-weight: 300;

	    &:focus, &:active {
			outline-width: 0;
			outline: none;
	    }

	    @media screen and (max-width: 768px) {
	    	min-width: auto;
		}
	}

	select {
		min-width: 260px;
		width: 260px;
	}

	button {
		background-color: #838383;
		color: #fff;
	}

	.submit-button {
		background-color: #BA3029;
		color: #fff;
		width: 46px;
		float: right;
		margin-right: 12px;
    padding: 10px 37px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
    	background-color: #c73f54;
    }

	  @media screen and (max-width: 768px) {
    	float: left;
    	margin-left: 0;
    	margin-top: 10px;
			margin-bottom: 50px;
		}
	}

	.add-initiative-form {
		.header {
			text-align: center;
		}

		#initiativeForm {
				max-width: 532px;
				margin: 0 auto;

				@media screen and (max-width: 768px) {
					max-width: 305px;
				}
		}

		@media screen and (max-width: 768px) {
			margin-top: 30px;
		}
	}

	.control {
		position: relative;
		padding: 0;
		margin: 0 0 35px;

		&.file-upload {
			color: #5d5d5d;
			width: 530px;
			font-size: 14px;

			.inputfile {
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				z-index: -1;
			}

			.inputfile + label {
			    font-size: 1.05em;
			    font-weight: 300;
			    margin-top: 10px;
			    color: white;
			    background-color: #838383;
			    display: inline-block;
			    padding: 10px 37px;
			    position: relative;
			    z-index: 1;
			    border-radius: 5px;
			}

			.inputfile:focus + label,
			.inputfile + label:hover {
			    background-color: #9b9b9b;
			}

			.inputfile + label {
				cursor: pointer;
			}
			.inputfile:focus + label {
				outline: 1px dotted #000;
				outline: -webkit-focus-ring-color auto 5px;
			}

			.inputfile + label * {
				pointer-events: none;
			}

			input {
				padding: 0;
			    width: 500px;
			    margin: 15px 0;
			    min-width: 530px;
			    background-color: #f8f9fb;
			    border: none;

			    &:focus, &:active {
    				outline-width: 0;
    				outline: none;
			    }
			}

			button {
				background-color: #838383;
				color: #fff;
			}

			.submit-button {
				background-color: #BA3029;
				color: #fff;
				position: absolute;
				right: 0;
				bottom: 11px;
			    padding: 10px 37px;
			    cursor: pointer;
			    border-radius: 5px;

			    &:hover {
			    	background-color: #c73f54;
			    }

			    @media screen and (max-width: 768px) {
			    	float: left;
			    	margin-left: 0;
			    	position: static;
				}
			}
		}

		span {
			position: absolute;
			right: 15px;
			color: #a5a5a5;
			font-size: 12px;
			bottom: -15px;

			@media screen and (max-width: 768px) {
				right: 15px;
			}
		}
	}

	label {
		color: #a6a6a6;
		margin-bottom: 10px;
	}

	label {
	    &:focus, &:active, &:visited {
			outline-width: 0;
			outline: none;
	    }
	}

	.initiatives-detail {
		padding-top: 45px;
		width: 70%;
		padding-bottom: 20px;

		img {
			box-shadow: 0px 2px 16px rgba(0, 0, 0, 1);
		}

		h2 {
			color: #1a1826;
			font-weight: 700;
			letter-spacing: -1px;
		}

		.short-description, .long-description {
			h4 {
				font-weight: 300;
				color: #8a8a8a;
				margin-bottom: 5px;
				text-transform: uppercase;
			}

			p {
				margin-top: 0;
			}
		}

		.pdf-download {
			float: left;
			margin-top: 15px;

			a {
				color: #303030;
			}
		}

		.sign-initiative {
			margin-top: 20px;
			cursor: pointer;
		}

	    @media screen and (max-width: 768px) {
	    	img {
	    		max-width: 100%;
	    	}

	    	.counter {
	    		text-align: left !important;
	    	}
		}
	}

	.initiatives-column {
		position: relative;

		.suggest-initiative-button {
			position: absolute;
			right: 8px;
			color: #424242;
			top: -65px;
			cursor: pointer;
			text-decoration: none;

		    @media screen and (max-width: 768px) {
		    	position: static;
		    	margin-bottom: 20px;
		    	display: block;
					text-align: center;
			}
		}

		.list-item {
			.sign-initiative {
				float: right;
	    		vertical-align: top;
					cursor: pointer;
    			margin-top: 0px;
    			margin-bottom: 0px;

			    @media screen and (max-width: 768px) {
			    	float: none;
			    	margin-top: 20px;

			    	.counter {
			    		margin-bottom: 10px;
			    		text-align: left;
			    	}
				}
			}
		}

		.initiative-item {
			background-color: #fff;
			padding: 20px;
			min-height: 150px;
			border-radius: 5px;
			margin-bottom: 20px;
			box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);


	    @media screen and (max-width: 768px) {
				text-align: center;

				img {
					margin: 0 auto !important;
				}

				h2 {
					font-size: 17px;
					margin-top: 20px !important;
				}

				.signed {
						display: block !important;
						float: none !important;
						width: 75% !important;
						margin: 0 auto;
				}

				.counter {
					float: none !important;
					text-align: center !important;
					display: block !important;
				}
			}

			h2 {
				font-weight: 700;
				letter-spacing: -1px;
    			color: #303030;
				margin-top: 0;
				margin-bottom: 5px;

				&:hover {
					color: #BA3029;
				}
			}

			p {
				margin: 10px 0 5px;
				color: #6c6c6c;
			}

			img {
				vertical-align: top;
				display: inline-block;
				width: 180px;
				margin-right: 20px;
				height: 155px;
				box-shadow: 0px 2px 16px rgba(0, 0, 0, 1);
			}

			a {
				color: #7d7d7d;
				transition: color linear 1s;

				&:hover {
					color: #1b1726;
				}
			}
		}

		.initiative-description {
			display: inline-block;
			max-width: 700px;
			width: 60%;
  			overflow: hidden;
  			text-overflow: ellipsis;
		}

		.sign-initiative {
			cursor: pointer;
			float: left;
  		vertical-align: top;
  		height: 85px;

			button {
				padding: 14px 20px;
    			width: 170px;
				border-radius: 5px;
				font-size: 15px;
				color: #fff;
			}

			.counter {
				color: #1b1927;
				font-size: 13px;
				text-align: center;
				font-weight: 700;
				margin-top: 5px;
				margin-bottom: 35px;
			}

			.sign-button {
				background-color: #BA3029;
				cursor: pointer;

				&:hover {
					background-color: #F65E5E;
				}
			}

			.signed {
				padding: 14px 20px;
			    width: 131px;
			    text-align: center;
			    font-weight: 300;
			    border-radius: 5px;
			    font-size: 15px;
			    background-color: #bebebe;
			    color: #fff;
				float: right;
				pointer-events: none;
			}
		}
	}
}
