.thin-jumbotron {
  padding: 0;
  background-image: url(../images/jumbotron.jpg);
  height: 200px;
  color: #fff;

  h1 {
    margin-top: 50px;
    font-weight: 300;
    text-transform: uppercase;
  }

  p {
  	font-weight: 300;
  	font-size: 17px;
  }

  @media screen and (max-width: 768px) {
    height: auto;

    h1 {
      font-size: 21px;
    }

    p {
      font-size: 15px;
    }
  }
}