body {
  color: #434343;
  background: #ffffff;
  margin: 0;
  font-family: 'Muli', sans-serif;
}

html, body, #main-container {
	min-height: 100%;
}

.simple-anchor {
    margin-top: 19px;
    display: block;
    width: 178px;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 700;
    transition: all ease-in 0.3s;
		color: #BA3029 !important;
    text-decoration: none;
    border-bottom: 1px solid #BA3029;

    &:hover {
        border-bottom: 1px solid #303030;
				color: #303030 !important;
    }
}

.form-hint {
  font-size: 12px;
  color: #BA3029;
  text-transform: lowercase;
  float: right;
  font-weight: 700;
  margin-right: 16px;
  margin-top: 5px;

  &.optional {
    color: green;
  }
}

.components-wrapper {
	min-height: -webkit-calc(100% - 65px);
  min-height:    -moz-calc(100% - 65px);
  min-height:         calc(100% - 65px);
}

a {
	cursor: pointer;
}

.plain-style-link {
	text-decoration: none;

	h2 {
		&:hover {
			color: #BA3029;
		}
	}
}

.disabled {
	pointer-events: none;
	font-size: 12px !important;
	padding: 14px 0 !important;
	background-color: #bababa !important;
}

button {
  	cursor: pointer;

  	&.rectangle-button {
      cursor: pointer;
  		border: none !important;
		  transition: all ease-in-out 0.08s;
  	}
}

.previous-page {
	position: absolute;
	left: 8px;
	top: 0;
	font-size: 13px;
	font-weight: 700;
	text-decoration: none;
	color: #424242;
	cursor: pointer;
}

.clearfix{
	&:after {
		content: " ";
		display: block;
		height: 0;
		clear: both;
	}
}

.icon {
	width: 25px;
	display: inline-block;
	height: 25px;
	border-radius: 50%;
	background-image: url('http://placehold.it/25x25');
}

.icon-facebook {
	display: inline-block;
	background-image: url(../images/facebook_icon.png);
	margin: 0 10px 0px 0;
	height: 17px;
	width: 9px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0;
    margin-bottom: -3px;
}

.icon-arrow-pointer {
	display: inline-block;
	background-image: url(../images/arrow_pointer.png);
	margin: 0 10px 0px 0;
	height: 12px;
	width: 17px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-arrow-left {
	background-image: url(../images/arrow.png);
	margin: 0 10px -4px 0;
	height: 18px;
	width: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
	transition: all .2s ease-in-out;
   -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);

    &:hover {
		transform: scale(-0.7, -0.7);
    }
}

.icon-arrow-right {
	background-image: url(../images/arrow.png);
    width: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
	margin: 0 0 -4px 10px;
	height: 18px;
	transition: all .2s ease-in-out;

	&:hover {
		transform: scale(0.7);
    }
}

.arrow-wrapper {
	&:hover {
		color: #e5181f;

		.icon-arrow-left {
			transform: scale(-0.7, -0.7);
		}

		.icon-arrow-right {
			transform: scale(0.7);
		}
    }
}

.icon-plus {
	width: 21px;
	height: 21px;
	background-size: cover;
	margin: 0 7px -5px 0;
	transition: all .2s ease-in-out;
	background-image: url(../images/plus.png);
}

.icon-pdf {
	margin-bottom: -7px;
    margin-right: 10px;
	width: 25px;
	height: 27px;
	border-radius: 0;
	background-size: cover;
	transition: all .2s ease-in-out;
	background-image: url(../images/pdf.png);
}

.tooltip {
	cursor: pointer;

	&:hover {
		.icon-plus {
			transform: scale(1.15);
		}
	}
}

.suggest-item-toast {
	font-size: 14px;
	background-color: #eee;
	padding: 8px;
	border-radius: 5px;

	&:hover {
		background-color: #e1e1e1;
	}
}

.propose-poll-modal {
	button {
		color: #BA3029 !important;
	}

	hr {
		border-bottom: 1px solid #000 !important;
	}

	@media screen and (max-width: 768px) {
		input, label, div {
			font-size: 9px !important;
		}

		#proposePollForm {
			div {
				div {
					color: #fff !important;
				}
			}
		}
	}
}

#proposePollForm {
	div {
		label {
			&:first-child {
				color: rgba(0,0,0,0.3) !important;
			}
		}
	}
}

.components-wrapper {
	position: relative;
	padding-bottom: 65px;
}

button {
	&[disabled] {
		background-color: #fff !important;
		color: #939393 !important;
		font-weight: 300 !important;
		pointer-events: none;
	}
}

@media screen and (max-width: 768px) {
	.fb-comments {
		span {
			&:first-child {
				width: 100% !important;
			}
		}
	}
}
