.parliament-details-wrapper {
	padding-top: 75px;

	.article {
		padding: 15px;
		display: inline-block;
		border: 1px solid #e6e6e6;
		background: white;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
		text-decoration: none;

		.article-badge {
			background: #ba3029;
			padding: 0px 10px;
			color: #fff;
			font-weight: 600;
			font-size: 14px;
			text-transform: uppercase;
		}

		.article-title {
			color: #696969;
			margin-left: 7px;
			text-decoration: underline;
		}
	}
}

.parliament-wrapper {
	background-color: #f8f9fb;
	position: relative;
	padding-top: 20px;

	.hidden {
		display: none;
	}

	.white-pane {
	    text-align: left;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        height: 67px;
        margin-top: 0;

        .previous-page {
		    position: static;
		    margin-top: 23px;
		    display: block;
		    font-size: 13px;
		    font-weight: 700;
		    text-decoration: none;
		    color: #424242;
		    cursor: pointer;
		}
	}

	@media screen and (max-width: 768px) {
		padding-top: 30px;

		&.container-fluid {
			padding-right: 1rem;
			padding-left: 1rem;
		}

		.simple-anchor {
			margin: 0 auto;
		}

		h2 {
			font-size: 17px;
		}

		.suggest-parliament-button {
			position: static !important;
			width: 100%;
			text-align: center;
			margin: 0 auto;
			display: block;
		}

		.tracks {
			margin-top: 35px;
		}

		.vote-options {
			width: 240px;
			margin: 20px auto 0 !important;
			height: 50px !important;

			button {
				width: 108px !important;
			}
		}
	}

	.parliament-column {
		position: relative;

		.suggest-parliament-button {
			position: absolute;
			right: 8px;
			color: #424242;
			top: -65px;
			cursor: pointer;
			text-decoration: none;

			@media screen and (max-width: 768px) {
				right: 50px;
    			top: -2px;
			}
		}

		.link-wrapper {
			display: block;
			margin-top: 15px;
		}
	}

	.hot-topic {
		div {
			display: inline-block;
		}

		.title {
			margin: 40px 0;
			height: 75px;
			line-height: 75px;
			width: 100%;
			font-size: 20px;
			color: #f41939;
			background-color: #fff;

			.label {
				height: 75px;
			    line-height: 75px;
			    font-size: 15px;
			    text-align: center;
			    width: 125px;
			    color: #fff;
			    margin-right: 15px;
			    background-color: #f41939;
			    padding: 0 20px;
			    animation: hotTopicAnimation 3s;
		      	-moz-animation: hotTopicAnimation 3s infinite;
		    	-webkit-animation: hotTopicAnimation 3s infinite;

			    @-moz-keyframes hotTopicAnimation {
				    0%     { background: #BA3029; }
				    50%    { background: rgba(0, 0, 0, 0.3); }
				    100%   { background: #BA3029; }
			    }

			    @-webkit-keyframes hotTopicAnimation {
				    0%     { background: #BA3029; }
				    50%    { background: rgba(0, 0, 0, 0.3); }
				    100%   { background: #BA3029; }
				}
			    text-transform: uppercase;
			}
		}

		@media screen and (max-width: 768px) {
			.title {
				height: auto;
				width: auto;
				text-align: center;
				padding: 15px;
				line-height: 18px;
				font-size: 16px;

				.label {
					margin-right: 0;
					min-width: 170px;
					width: auto;
					margin-bottom: 10px;
				}
			}
		}
	}

	.law-items-wrapper {
		background-color: #fff;
		padding: 0 15px;
		border-radius: 5px;
		margin-bottom: 20px;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
	}

	.law-item {
		font-weight:  300;

		h2 {
			margin-top: 15px;
			font-weight: 700;
			margin-bottom: 17px;
		}

		p {
			color: #4e4e4e;
		}

		img {
			vertical-align: top;
			display: inline-block;
			box-shadow: 0px 2px 16px rgba(0, 0, 0, 1);
			width: 180px;
			margin-right: 20px;
			height: 155px;
		}

		a {
			color: #303030;

			&:hover {
				color: #6b6b6b;
			}
		}

		.avatar-wrapper, .law-item-content {
			display: inline-block;
		}

		.avatar-wrapper {
			width: 19%;
			vertical-align: top;
    		padding: 15px 0 0;
		}

		.law-item-content {
			width: 81%;
		}

		.votes-counter {
			color: #7d7d7d;
			font-size: 14px;
			margin: 15px 0 -7px;
			font-weight: 500;
		}

		.vote-options {
			width: 350px;
			margin-top: 20px;
			display: block;
			height: 60px;

			button {
				padding: 14px 20px;
    			width: 170px;
				border-radius: 5px;
				font-size: 15px;
				color: #fff;

				&[disabled] {
					color: #939393 !important;
					background-color: #ebebeb !important;
				}
			}

			.accept-button {
				background-color: #84cd36;
				border: #84cd36;
				cursor: pointer;
				float: right;

				&:hover {
					background-color: #97d556;
				}
			}

			.deny-button {
				background-color: #f43636;
				border: none;
				float: left;

				&:hover {
					background-color: #F65E5E;
				}
			}

			@media screen and (max-width: 768px) {
				width: 225px;
				margin: 0 auto;

				button {
					width: 100px;
					padding: 5px;
				}

				.rectangle-button {
					cursor: pointer;

					&:hover {
						padding: 5px 20px 6px !important
					}
				}
			}
		}

		@media screen and (max-width: 768px) {
			text-align: center;

			.law-item-content {
				width: auto;
			}

			.avatar-wrapper {
				width: auto;
			}
		}
	}

	.parliament-detail {
		padding-top: 0;

	    @media screen and (max-width: 768px) {
	    	padding-top: 40px;
	    	padding-bottom: 50px;
		}

		.link-wrapper {
			a {
				color: #000;
			}
		}

		.pdf-download {
			float: none;
		}



		.vote-options {
			width: 300px;
			display: block;
			margin: 15px 0 10px;
			height: 50px;

			button {
				padding: 14px 20px;
    			width: 140px;
				border-radius: 5px;
				font-size: 15px;
				color: #fff;
			}

			.accept-button {
				background-color: #84cd36;
				border: none;
				float: right;
				cursor: pointer;

				&:hover {
					background-color: #97d556;
				}
			}

			.deny-button {
				background-color: #f43636;
				border: none;
				float: left;

				&:hover {
					background-color: #F65E5E;
				}
			}
					@media screen and (max-width: 768px) {
			width: 225px;
			margin: 40px auto 20px;

			button {
				width: 100px;
				font-size: 12px;
				padding: 5px;
			}

			.rectangle-button {
				cursor: pointer;

				&:hover {
					padding: 5px 20px 6px !important
				}
			}
		}
		}

	}
}

.parliament-statistics-wrapper {
	margin-bottom: 40px;
}

.add-new-parliament {
	.header {
		text-align: center;
	}

	#initiativeForm {
			max-width: 532px;
			margin: 0 auto;

			@media screen and (max-width: 768px) {
				max-width: 305px;
			}
	}
}
