.poll-list-wrapper {
	background-color: #f8f9fb;

	&.archieves-container {
		.archivesLink {
			display: none;
		}

		input {
			display: inline-block;
			float: left;
			font-size: 15px;
			padding: 15px 20px;
			box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
			border: none;
			color: #434343;
			width: 300px;

			@media screen and (max-width: 768px) {
				width: 84%;
			}
		}
	}

	.archive-search {
		display: none;
	}

	.suggest-poll-button-wrapper {
		text-align: right;
		margin: 20px 0;

		@media screen and (max-width: 768px) {
			text-align: center;

	  		a, div {
	  			display: block;
	  			float: none !important;
	  		}

	  		i {
	  			display: none;
	  		}

	  		.suggest-item-toast {
	  			width: 100%;
	  			margin-top: 5px;
	  			box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
	  		}
		}

		.archivesLink {
			float: left;
		    background-color: #fff;
			text-decoration: none;
			font-size: 14px;
			color: #434343;

			&:hover {
				color: #c0443e;
			}
		}
	}

	.law-items-wrapper {
		background-color: #fff;
		padding: 0 15px 10px;
		border-radius: 5px;
		margin-bottom: 20px;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
	}

	.law-item {
		font-weight:  300;

		@media screen and (max-width: 768px) {
			text-align: center;
		}

		h2 {
			margin-top: 15px;
			margin-bottom: 10px;
			max-width: 900px;
			font-weight: 700;
			letter-spacing: -1px;
		}

		p {
			color: #4e4e4e;
		}

		a {
			color: #303030;

			&:hover {
				color: #6b6b6b;
			}
		}

		.avatar-wrapper, .law-item-content {
			display: inline-block;
		}

		.avatar-wrapper {
			vertical-align: top;
    		padding: 15px 15px 0 0;
    		display: inline-block;
    		max-width: 180px;

    		img {
    			margin-right: 10px;
    			width: 180px;
					box-shadow: 0px 2px 16px rgba(0, 0, 0, 1);
    			height: 155px;
    		}
		}

		.law-item-content {
			display: inline-block;
			width: 75%;

			@media screen and (max-width: 768px) {
				width: 100%;

				h2 {
					font-size: 17px;
				}

				.simple-anchor {
					margin: 0 auto;
				}

				.vote-options {
					margin: 0 auto;
				}
			}
		}

		.votes-counter {
			color: #7d7d7d;
			font-size: 14px;
			font-weight: 500;
		}

		.vote-options {
			width: 350px;
			display: block;
			height: 45px;

			button {
				padding: 14px 20px;
    			width: 170px;
				border-radius: 5px;
				font-size: 15px;
				color: #fff;

				@media screen and (max-width: 768px) {
					font-size: 12px;
				}
			}

			.accept-button {
				cursor: pointer;
				background-color: #84cd36;
				border: #84cd36;
				float: right;

				&:hover {
					background-color: #97d556;
				}
			}

			.deny-button {
				background-color: #f43636;
				border: none;
				float: left;

				&:hover {
					background-color: #F65E5E;
				}
			}

			@media screen and (max-width: 768px) {
				width: 225px;

				button {
					width: 100px;
    				padding: 5px;
				}
			}

			button[disabled] {
				color: #939393 !important;
					background-color: #ebebeb !important;
			}
		}
	}
}

.home-page {
	.archivesLink {
		display: none;
	}
}
