.poll-details-wrapper {
	padding-top: 50px !important;
	position: relative;

	.article {
		padding: 15px;
		display: inline-block;
		border: 1px solid #e6e6e6;
		background: white;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
		text-decoration: none;

		.article-badge {
			background: #ba3029;
			padding: 0px 10px;
			color: #fff;
			font-weight: 600;
			font-size: 14px;
			text-transform: uppercase;
		}

		.article-title {
			color: #696969;
			margin-left: 7px;
			text-decoration: underline;
		}
	}

	.white-pane {
	    text-align: left;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        height: 67px;
        margin-top: 0;

        .previous-page {
		    position: static;
		    margin-top: 23px;
		    display: block;
		    font-size: 13px;
		    font-weight: 700;
		    text-decoration: none;
		    color: #424242;
		    cursor: pointer;
		}
	}

	@media screen and (max-width: 768px) {
		.discussion {
			margin-top: 40px;
		}
	}
}

.poll-details {
	padding-top: 45px;
	width: 70%;
	position: relative;
	padding-bottom: 20px;

	img {
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 1);
	}

	.vote-options {
		width: 350px;

		button {
			padding: 14px 20px;
			width: 170px;
			border-radius: 5px;
			font-size: 15px;
			color: #fff;
		}

		.accept-button {
			background-color: #84cd36;
			border: #84cd36;
			cursor: pointer;
			float: right;

			&:hover {
				background-color: #97d556;
			}
		}

		.deny-button {
			background-color: #f43636;
			border: none;
			float: left;

			&:hover {
				background-color: #F65E5E;
			}
		}

		@media screen and (max-width: 768px) {
			width: 225px;
			margin: 0 auto;

			button {
				width: 100px;
				font-size: 12px;
				padding: 5px;
			}

			.rectangle-button {
				cursor: pointer;

				&:hover {
					padding: 5px 20px 6px !important
				}
			}
		}

		button[disabled] {
			color: #939393 !important;
					background-color: #ebebeb !important;
		}
	}

	h2 {
		color: #1a1826;
		font-weight: 700;
		letter-spacing: -1px;
	}

	.short-description, .statistics {
		h4 {
			font-weight: 300;
			color: #8a8a8a;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		p {
			margin-top: 0;
		}
	}

	.statistics {
		h4 {
			margin-top: 0;
		}
	}

	.pdf-download {
		float: left;
		margin-top: 15px;

		a {
			color: #303030;
		}
	}

	.sign-initiative {
		margin-top: 10px;
		cursor: pointer;
	}

	@media screen and (max-width: 768px) {
		text-align: center;

		img {
			width: 100%;
		}
	}
}

.polls-swiper-wrapper {
	position: relative;
	background-image: url(../images/flag_eu.png);
  	background-position: left bottom;
  	background-repeat: no-repeat;
  	background-size: 500px auto;
  	min-height: 1050px;

  	.slick-next:before, .slick-prev:before {
  		display: none;
  	}

	@media screen and (max-width: 768px) {
		background-position: left top;
		background-size: cover;
  	min-height: 875px;
		background-image: none;
		overflow: hidden;
		background-color: #fafbfc;

		&.container-fluid {
			padding-right: 1rem;
			padding-left: 1rem;
		}
	}

	&.archieves-container {
		.archivesLink {
			display: none;
		}

		input {
			display: inline-block;
			float: left;
			font-size: 15px;
			padding: 15px 20px;
			box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
			border: none;
			color: #434343;
			width: 300px;
		}
	}

	.discussion-component-wrapper {
		margin: 0 auto;
		width: 500px;

		@media screen and (max-width: 768px) {
			background-color: rgba(255,255,255,0.8);
			width: auto;
		}
	}

	.archive-search {
		display: none;
	}

	.polls-swiper {
		text-align: center;
		max-width: 800px;
		margin: 0 auto;

		@media screen and (max-width: 768px) {
			margin-top: 100px;
		}

		.suggest-poll-button-wrapper {
			text-align: right;
			width: 100%;
			position: absolute;
			left: 0;
			top: -100px;
			box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
		    background-color: #fff;
		    height: 67px;
		    margin-top: 0;
		}

	.suggest-item-toast {
		padding: 0 !important;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.0) !important;
		height: 67px;
		line-height: 67px;

		&:hover {
			span {
				color: #c0443e !important;
			}

			button {
				div {
					div {
						background-color: #fff !important;
					}
				}
			}
		}

		button {
			height: 67px !important;
			line-height: 67px !important;

			div {
				height: 67px !important;
				line-height: 67px !important;

				div {
					height: 67px !important;
					line-height: 67px !important;
				}
			}
		}
	}

		.swiper-item {
			h3 {
				font-weight: 700;
				letter-spacing: -1px;

				@media screen and (max-width: 768px) {
					font-size: 17px;
				}
			}

			img {
				box-shadow: 0px 2px 16px rgba(0, 0, 0, 1);
				margin: 0 auto;
			}
		}

		h1 {
			margin: 100px 0 40px;
			font-size: 2.5em;

			@media screen and (max-width: 768px) {
				margin-top: 24px;
			}
		}

		h3 {
			font-weight: 500;
			font-size: 30px;
		}

		.suggest-poll-component-wrapper {
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
		}

		.switcher {
			box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
			padding: 10px;
			line-height: 28px;
			background-color: #fff;
			border-radius: 5px;
			text-align: center;
			width: 700px;
			margin: 0 auto 40px;

			span {
				margin: 0 auto;
				font-size: 12px;
				cursor: pointer;
			}

			.question-counter {
				pointer-events: none;
				font-size: 19px;
				font-weight: 300;
				width: 565px;
				display: inline-block;
			}
		}

		.vote-options {
			width: 440px;
			display: block;
			margin: 0 auto;

			button {
				padding: 14px 20px;
				width: 180px;
				border-radius: 5px;
				font-size: 15px;
				color: #fff;
			}

			.accept-button {
				background-color: #84cd36;
				border: #84cd36;
				cursor: pointer;
				float: right;

				&:hover {
					background-color: #97d556;
				}
			}

			.deny-button {
				background-color: #f43636;
				border: 1px solid #c01c1b;
				float: left;

				&:hover {
					background-color: #F65E5E;
				}
			}

			button[disabled] {
				color: #939393 !important;
					background-color: #ebebeb !important;
			}
		}

		.details-link {
			font-size: 14px;
			color: #2c2c2c;

			&:hover {
				color: #a2a2a2;
			}
		}

		@media screen and (max-width: 768px) {
			max-width: 100%;

			h1 {
				margin-bottom: 15px;
			}

			.suggest-poll-component-wrapper {
				top: 90px;
			}

			.vote-options {
				width: auto;
				padding: 0 5px;

				button {
					width: 110px;
					font-size: 13px;
					padding: 10px 5px;
				}
			}

			.switcher {
				padding: 2px;
				width: auto;

				.question-counter {
					width: auto;
					margin: 0 18px;
					font-size: 15px;
				}
			}

			.swiper-item {
				width: 100%;
    			height: auto;

					h2 {
						font-weight: 700;
						letter-spacing: -1px;
					}

    			img {
						width: 100%;
						box-shadow: 0px 2px 16px rgba(0, 0, 0, 1);
	    			height: auto;
    			}
			}
		}
	}
}

.suggest-poll-wrapper {
	float: right;
	position: relative;

	.icon-absolute-position {
		position: absolute;
		left: -12px;
		top: 22px;
		z-index: 3;
	}

	.suggest-item-toast {
		z-index: 2;
		position: relative;
	}

	@media screen and (max-width: 768px) {
		float: none;
    	width: 190px;
		margin: 0 auto;
		text-align: center;
	}
}

.poll-list {
	padding-top: 90px;

	@media screen and (max-width: 768px) {
		padding-top: 164px;
	}
}

.poll-list-wrapper {
	position: relative;

	@media screen and (max-width: 768px) {
		&.container-fluid {
      padding-right: 1rem;
      padding-left: 1rem;
    }
	}

	.no-results {
		padding: 20px !important;
		text-align: center;
	}

	&.archieves-page-content {
		padding-top: 90px;

		.suggest-poll-wrapper {
			position: absolute;
			top: -20px;
			right: 0;
			display: none;
		}

		.suggest-poll-fluid {
			position: relative;
		}
	}

		.sticky-panel {
			text-align: right;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
		    background-color: #fff;
		    height: 67px;
		    margin-top: 0;

		    input {
				box-shadow: none !important;
				background-color: #fff;
			    border-radius: 5px;
				margin-top: 7px;
			    border: 1px solid #ddd !important;
			    height: 50px;
			    padding: 0px 10px !important;
			    line-height: 50px;
			    font-size: 15px;
			    color: #929292;
			    font-weight: 300;
		    }

			.archivesLink {
				float: left;
			    background-color: #fff;
			    text-transform: uppercase;
	    		height: 67px;
	    		line-height: 67px;
				text-decoration: none;
				font-size: 14px;
				color: #434343;

				&:hover {
					color: #c0443e;
				}
			}
		}

	.poll-list-column {
		.suggest-poll-button-wrapper {
			text-align: right;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
		    background-color: #fff;
		    height: 67px;
		    margin-top: 0;

			.archivesLink {
				float: left;
			    background-color: #fff;
			    text-transform: uppercase;
	    		height: 67px;
	    		line-height: 67px;
				text-decoration: none;
				font-size: 14px;
				color: #434343;

				&:hover {
					color: #c0443e;
				}
			}

			@media screen and (max-width: 768px) {
				text-align: center;
				height: 140px;

		  		a, div {
		  			display: block;
		  			float: none !important;
		  		}

		  		i {
		  			display: none;
		  		}

		  		.suggest-item-toast {
		  			width: 100%;
		  			margin-top: 5px;
		  		}
		  	}
		}
	}

	.suggest-item-toast {
		padding: 0 !important;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.0) !important;
		height: 67px;
		line-height: 67px;

		&:hover {
			span {
				color: #c0443e !important;
			}

			button {
				div {
					div {
						background-color: #fff !important;
					}
				}
			}
		}

		button {
			height: 67px !important;
			line-height: 67px !important;

			div {
				height: 67px !important;
				line-height: 67px !important;

				div {
					height: 67px !important;
					line-height: 67px !important;
				}
			}
		}
	}
}

/*zmien po swojemu*/
.vote-btn--selected {
	background-color: purple;
	cursor: pointer;
}

.poll-list-item {
	margin-bottom: 30px;
	border: 1px solid black;
}
