.problem-list-wrapper-fluid {
  @media screen and (max-width: 768px) {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

.problem-list-wrapper {
	margin-top: 20px;

	.problem-list-column {
		position: relative;

		.suggest-problem-button {
            position: absolute;
            right: 8px;
            color: #424242;
            top: -325px;
            cursor: pointer;
            text-decoration: none;


			    @media screen and (max-width: 768px) {
			    	width: 100%;
			    	background-color: #fff;
			    	text-align: center;
			    	display: block;
			    	border-radius: 5px;
			    	margin-bottom: 40px;
			    	position: static;
			    	height: 40px;
			    	line-height: 40px;
			    	vertical-align: middle;
				}
        }
	}

	.problem-items-wrapper {
		background-color: #fff;
	    padding: 10px 20px 15px;
	    border-radius: 5px;
	    margin-bottom: 20px;
	    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);

		.problem-item {
			position: relative;

			.category {
				p {
					font-weight: 500;
					font-size: 20px;
					margin: 5px 0 0;
					text-align: center;
					color: #c73f54;
					display: block;

				    @media screen and (max-width: 768px) {
						font-size: 16px;
				    }
				}

				span {
					text-align: center;
					display: block;
					font-size: 11px;
		    		font-style: italic;
					color: #4b4b4b;
					font-weight: 300;
				}
			}
		}

		.important-problem-button-wrapper {
			margin-top: 8px;

			button {
				padding: 14px 20px;
				width: 180px;
				border-radius: 5px;
				margin: 5px 0 10px;
				font-size: 14px;
				color: #fff;
				background-color: #BA3029;
				border: #84cd36;

				&:hover {
					background-color: #c73f54;
				}

			    @media screen and (max-width: 768px) {
					font-size: 12px;
			    }
			}

			button[disabled] {
				background-color: #ebebeb !important;
			}

			.counter {
				font-size: 14px;

				.icon-arrow-pointer {
					margin: 13px 10px -26px 0px;
				}

				.important-problem-tip {
    				width: 500px;

    				p {
    					margin: 0 0 5px;
    				}

				    @media screen and (max-width: 768px) {
						width: auto;
				    }
				}
			}
		}

		.avatar-wrapper {
			display: inline-block;
	    	max-width: 200px;
			width: 150px;
	    	padding: 5px 15px 0 0;
	    	vertical-align: top;
			text-align: center;

	    	img {
	    		width: 70px;
	    		height: 70px;
	    		border-radius: 50%;
	    	}
	    	.user-name {
	    		text-align: center;
	    		margin: 0;
	    		display: block;
	    		color: #4b4b4b;
	    		text-decoration: none;
	    		font-size: 12px;
	    	}
		}

		.problem-item-content {
			max-width: 900px;
			display: inline-block;
			width: 63%;

			h2 {
				margin: 10px 0 7px;
			}

			.author {
				position: absolute;
				bottom: 0;
				right: 0;
				color: #BA3029;
				font-weight: 700;
				font-size: 13px;
			}

			a {
				color: #4b4b4b;
	    		font-size: 14px;
			}
		}

		.suggest-solution-from-list {
			position: absolute;
			right: -5px;
    		top: -8px;

			button {
				width: 215px;
			}

	    	@media screen and (max-width: 768px) {
				position: static;

				button {
					width: auto;
					font-size: 12px;
				}
	    	}
		}

	    @media screen and (max-width: 768px) {
	    	a, p, span {
	    		text-align: left !important;
	    	}

	    	h2 {
	    		font-size: 18px;
	    	}
		}
	}
}

.problem-list-panel {
	margin-top: 30px;
	margin-bottom: 20px;

	h1 {
		margin-bottom: 0;
	}

	p {
		margin-top: 5px;
		margin-bottom: 40px;
	}

	.panel-item-wrapper {
		display: inline-block;
		width: 275px;
	}

	.category {
		float: left;
	}

	.search {
    	width: 400px;
    	float: left;
    	margin-left: 20px;

    	input {
    		width: 400px;
    	}


			    @media screen and (max-width: 768px) {
			    	width: auto;
			    	margin-left: 0;
			    	margin-top: 20px;

			    	input {
			    		width: auto;
			    	}
				}
	}

	.sort {
		float: right;
	}

	label, select, input {
		display: block;
		width: 100%;
	}

	select, input {
		background-color: #fff;
	    border-radius: 5px;
	    border: 1px solid #ddd;
	    height: 50px;
	    padding: 10px 15px;
	    line-height: 50px;
	    font-size: 15px;
	    color: #929292;
	    font-weight: 300;
	}

	input {
		padding: 0 15px;
	}

	label {
		font-weight: 700;
		margin-bottom: 10px;
		text-align: left;
	}
}
