.components-wrapper {
	background-color: #f8f9fb;
}

.solutions-infinity-container {
	margin-bottom: 90px;

	.get-solutions-btn {
		text-align: center;
		display: block;
	}

	.solution-item {
		background-color: #fff;
		padding: 15px 20px;
		border-radius: 5px;
		margin-bottom: 20px;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);

		.simple-anchor {
			width: 152px;
			font-size: 11px !important;
		}

		.solution-item-header {
			height: 40px;

			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				display: inline-block;
			}

			.text {
				padding-left: 15px;
				display: inline-block;
				vertical-align: top;

				.add-date {
					margin-top: 3px;
					color: #9b9b9b;
					font-size: 12px;
				}
			}
		}

		.description {
			font-size: 17px;
			font-weight: 700;
			letter-spacing: -1px;
			margin-bottom: 5px;
    	margin-top: 2px;
			color: #434343;
		}

		a {
			margin: 5px 0;
			display: block;
			font-size: 14px;
			color: #434343;
		}

		.vote-options {
			width: 220px;
			display: block;
			margin-top: 10px;
			height: 30px;

			button {
				padding: 5px;
				width: 100px;
				border-radius: 5px;
				font-size: 13px;
				color: #fff;
			}

			.accept-button {
				cursor: pointer;
				background-color: #84cd36;
				border: none;
				float: right;

				&:hover {
					background-color: #97d556;
					padding: 9px 5px 1px !important;
				}
			}

			.deny-button {
				background-color: #f43636;
				border: none;
				float: left;

				&:hover {
					background-color: #F65E5E;
					padding: 9px 5px 1px !important;
				}
			}

			button[disabled] {
				color: #939393 !important;
				background-color: #ebebeb !important;
			}
		}
	}
}

.problem-detail-wrapper {
	background-color: #f8f9fb;
	padding-top: 85px;
	position: relative;

	.article {
		padding: 15px;
		display: inline-block;
		border: 1px solid #e6e6e6;
		background: white;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
		text-decoration: none;

		.article-badge {
			background: #ba3029;
			padding: 0px 10px;
			color: #fff;
			font-weight: 600;
			font-size: 14px;
			text-transform: uppercase;
		}

		.article-title {
			color: #696969;
			margin-left: 7px;
			text-decoration: underline;
		}
	}

	.white-pane {
	    text-align: left;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        height: 67px;
        margin-top: 0;

        .previous-page {
		    position: static;
		    margin-top: 23px;
		    display: block;
		    font-size: 13px;
		    font-weight: 700;
		    text-decoration: none;
		    color: #424242;
		    cursor: pointer;
		}
	}

		.important-problem-button-wrapper {
			margin-top: 20px;

			button {
				padding: 14px 20px;
				width: 180px;
				border-radius: 5px;
				margin: 5px 0 10px;
				font-size: 14px;
				color: #fff;
				background-color: #BA3029;
				border: #84cd36;
				display: block;

				&:hover {
					background-color: #c73f54;
				}
			}

			.counter {
				font-size: 14px;
				margin-top: -7px;
				display: inline-block;

				.icon-arrow-pointer {
					margin: 13px 10px -2px 0px;

				    @media screen and (max-width: 768px) {
				    	display: none;
				    }
				}

				.important-problem-tip {
					display: inline-block;
    				width: 480px;
    				text-align: left;
    				margin: 25px 0;

					p {
						margin: 0;
						display: inline-block;
					}

				    @media screen and (max-width: 768px) {
				    	width: auto;
				    	margin-left: 0;
				    }
				}
			}
		}

	input, textarea {
		background-color: #fbfbfb;
		border-radius: 5px;
		border: 1px solid #ddd;
		padding: 10px 15px;
		font-size: 14px;
		color: #929292;
		min-width: 500px;
		font-weight: 300;

	    &:focus, &:active {
			outline-width: 0;
			outline: none;
	    }
	}

	.control {
		position: relative;
		padding: 0;
		margin: 0 0 15px;

		&.file-upload {
			color: #5d5d5d;
			width: 530px;
			font-size: 14px;

			.inputfile {
				position: absolute;
				z-index: 0;
				padding-left: 59px;
				margin-top: 24px;
			}

			.inputfile + label {
			    font-size: 1.05em;
			    font-weight: 300;
			    margin-top: 10px;
			    color: white;
			    background-color: #838383;
			    display: inline-block;
			    padding: 10px 37px;
			    position: relative;
			    z-index: 1;
			    border-radius: 5px;
			}

			.inputfile:focus + label,
			.inputfile + label:hover {
			    background-color: #9b9b9b;
			}

			.inputfile + label {
				cursor: pointer;
			}
			.inputfile:focus + label {
				outline: 1px dotted #000;
				outline: -webkit-focus-ring-color auto 5px;
			}

			.inputfile + label * {
				pointer-events: none;
			}

			input {
				padding: 0;
			    width: 500px;
			    margin: 15px 0;
			    min-width: 530px;
			    background-color: #f8f9fb;
			    border: none;

			    &:focus, &:active {
    				outline-width: 0;
    				outline: none;
			    }
			}

			button {
				background-color: #838383;
				color: #fff;
			}

			.submit-button {
				background-color: #BA3029;
				color: #fff;
				position: absolute;
				right: 0;
				bottom: 11px;
			    padding: 10px 37px;
			    cursor: pointer;
			    border-radius: 5px;

			    &:hover {
			    	background-color: #c73f54;
			    }
			}
		}

		span {
			position: relative;
			right: 50px;
			color: #a5a5a5;
			font-size: 12px;
			bottom: 12px;
		}
	}

	label {
		color: #a6a6a6;
		margin-bottom: 10px;
	}

	label {
	    &:focus, &:active, &:visited {
			outline-width: 0;
			outline: none;
	    }
	}

	.problem-detail {
		width: 70%;

		h2 {
			color: #1a1826;
		}

		button[disabled] {
			color: #939393 !important;
					background-color: #ebebeb !important;
		}

		.short-description, .long-description {
			font-size: 20px;
			font-weight: 700;
			letter-spacing: -1px;

			h4 {
				letter-spacing: 1px;
				font-weight: 300;
				color: #8a8a8a;
				margin-bottom: 5px;
				text-transform: uppercase;
			}

			p {
				margin-top: 0;
			}
		}

		.long-description {
			font-size: 15px;
		}

		.pdf-download {
			float: left;
			margin-top: 15px;

			a {
				color: #303030;
			}
		}

		.sign-initiative {
			margin-top: 10px;
			cursor: pointer;
		}

		.suggest-solution-button {
			position: absolute;
			font-size: 13px;
			font-weight: 700;
			text-decoration: none;
			color: #424242;
			cursor: pointer;
			right: 147px;
    		top: 22px;

		    @media screen and (max-width: 768px) {
		    	position: static;
		    	display: block;
		    	margin-bottom: 20px;
		    }
		}
	}

	.problem-detail-column {
		.problem-title {
			margin: 10px 0;
		}

	.category {
		font-weight: 700;
		font-size: 15px;
		letter-spacing: -1px;
		margin: 5px 0 0;
		color: #c73f54;

		span {
			font-size: 11px;
    		font-style: italic;
			color: #4b4b4b;
			font-weight: 300;
		}
	}

		.suggest-initiative-button {
			position: absolute;
			right: 8px;
			top: -65px;
			cursor: pointer;
			text-decoration: none;
		}

		.initiative-item {
			background-color: #fff;
			padding: 20px;
			min-height: 150px;
			border-radius: 5px;
			margin-bottom: 20px;
			box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);

			h2 {
				font-weight: 300;
				margin-top: 0;
				margin-bottom: 5px;
			}

			p {
				margin: 10px 0 5px;
				color: #6c6c6c;
			}

			img {
				vertical-align: top;
				display: inline-block;
				width: 200px;
				margin-right: 20px;
				height: auto;
			}

			a {
				color: #7d7d7d;
				transition: color linear 1s;

				&:hover {
					color: #1b1726;
				}
			}
		}

		.initiative-description {
			display: inline-block;
			max-width: 700px;
			white-space: nowrap;
  			overflow: hidden;
  			text-overflow: ellipsis;
		}

		.sign-initiative {
			cursor: pointer;
			display: inline-block;

			button {
				padding: 14px 20px;
    			width: 170px;
				border-radius: 5px;
				font-size: 15px;
				color: #fff;
			}

			.counter {
				color: #1b1927;
				font-size: 13px;
				font-weight: 700;
				text-align: center;
			}

			.sign-button {
				cursor: pointer;
				width: 180px;
			}

			.signed {
				background-color: #676767;
				border: #676767;
				float: right;

				&:hover {
					background-color: #858585;
				}
			}
		}
	}
}

.add-problem-wrapper {
	padding-bottom: 30px;

	.header {
		text-align: center;
	}

	#initiativeForm {
			max-width: 532px;
			margin: 0 auto;

			@media screen and (max-width: 768px) {
				max-width: 305px;
			}
	}
}
