.solution-detail {
	width: 70%;
	position: relative;
	padding: 35px 8px 20px;

	.vote-options {
		width: 230px;
		display: block;
		margin-top: 10px;
		height: 30px;

		button {
			padding: 5px;
			width: 110px;
			border-radius: 3px;
			font-size: 15px;
			color: #fff;
		}

		.accept-button {
			background-color: #84cd36;
			border: none;
			cursor: pointer;
			float: right;

			&:hover {
				background-color: #97d556;
			}
		}

		.deny-button {
			background-color: #f43636;
			border: none;
			float: left;

			&:hover {
				background-color: #F65E5E;
			}
		}
	}

	h2 {
		color: #1a1826;
		font-weight: 300;
	}

	.short-description, .long-description {
		h4 {
			font-weight: 300;
			color: #8a8a8a;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		p {
			margin-top: 0;
		}
	}

	.pdf-download {
		float: left;
		margin-top: 15px;

		a {
			color: #303030;
		}
	}

	.sign-initiative {
		cursor: pointer;
		margin-top: 10px;
	}

	.previous-page {
		top: 20px;
		left: 8px;
	}
}
