@keyframes fadeOut{
	0% { opacity: 1; }
	10% { opacity: 1; }
	20% { opacity: 1; }
	30% { opacity: 1; }
	40% { opacity: 1; }
	50% { opacity: 1; }
	60% { opacity: 0.4; }
	70% { opacity: 0.3; }
	80% { opacity: 0.2; }
	90% { opacity: 0.1; }
	100% { opacity: 0; }
}

.toast-message-wrapper {
	position: fixed;
	top: 50px;
	z-index: 1;
	left: 0;
	width: 100%;
	text-align: center;

	animation-name: fadeOut;
	animation-duration: 7s;

	.toast-message {
		margin: 0 auto;
		color: #434343;
		width: 600px;
		border-radius: 5px;
		text-align: center;
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.7) !important;
		padding: 10px 15px 20px;

		h3 {
			font-weight: 700;
		}

		p {
			font-size: 15px;
			margin: 2px 0;
		}

		&.error {
			background-color: rgba(255,127,127,0.9);
		}

		&.success {
			background-color: rgba(127,255,127,0.9);
		}
	}
}