.header {
    margin-bottom: 30px;
}

.header > .header__title {
    text-decoration: bol
}

.control {
    margin-bottom: 10px;
    border: none;
}

.control > .control__label {
    display: block;
    text-transform: uppercase;
    color: grey;
}

.form--submited > .control > .control__input {
    &:invalid {
        border: 1px solid #BA3029;
    }
}
