$darkBlue: #0b3c5d;
$lightBlue: #328cc1;
$gold: #d9b310;
$lighGold: #f3d658;
$black: #1d2731;

.moderator-panel-jumbotron {
  background-color: $darkBlue;
  color: #fff;
  font-weight: 300;
  padding: 0;

  h1 {
    font-weight: 300;
    margin-bottom: 0;
  }

  h4 {
    margin-top: 0;
    font-weight: 300;
    font-style: italic;
  }

  p {
    color: #fff;
  }
}

.moderator-menu {
  text-align: left;
  
  .links {
    .menu-element {
      color: $gold;

      &:first-child {
        padding-left: 0;
      }

      &:hover {
        color: $lighGold;
      }
    }
  }
}

.moderator-panel-content {
  min-height: 550px;
  background-color: #fff;
  color: $black;

  .button-filter-panel {
    display: inline-block;
    float: right;
  }

  button {
    padding: 12px 25px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    background-color: #f5f5f5;
    border: none;
    margin-left: 20px;
    transition: all ease-in 0.1s;

      color: $darkBlue;

      &:hover {
        color: $lightBlue;
      }

  }

  .proposals-filters {
    margin-top: 20px;

      input {
        width: 300px;
        font-weight: 500;
        box-shadow: none;
        border: none;
        color: $darkBlue;
        background-color: #f5f5f5;
        font-size: 14px;
        padding: 12px;
      }
  }
}

.list-proposal-wrapper {
  background-color: #fff;
  margin-bottom: 50px;
  padding: 20px;
  min-height: 150px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);

  h3 {
    margin-top: 0;
  }

  .list-proposal-item {
    width: 80%;
    display: inline-block;
    vertical-align: top;

    .link-wrapper {
      margin-bottom: 15px;
      
      &:hover {
        color: $lightBlue;
      }

      a {
        color: #000;

        &:hover {
          color: $lightBlue;
        }
      }
    }

    h2 {
      margin-top: 0;
    }
  }

  .list-proposal-actions {
    width: 20%;
    display: inline-block;
    text-align: right;

    .action {
      display: block;
      margin-bottom: 10px;
      width: 120px;
      float: right;

      &.active {
        background-color: green;
      }
    }
  }
}

.poll-exchange-wrapper {
  .poll {
    padding: 10px;
    border: 1px solid #0a0d0b;

    .question {
      display: inline-block;
      width: 60%;
    }

    .statistics {
      display: inline-block;
      width: 20%;
    }

    .action {
      display: inline-block;
      width: 20%;
    }
  }
}

.image-picker {
  div.gallery {
    border: 1px solid #ccc;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  @media only screen and (max-width: 700px){
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }

  @media only screen and (max-width: 500px){
    .responsive {
      width: 100%;
    }
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .overflow-y-auto {
    overflow-y: auto;
  }
}

/* additional tiny styles */

.problem-separator {
  border-bottom: 1px solid $gold;
  padding-bottom: 10px;
}

.solutions-separator {
  margin-left: 40px;
}

.exchange-poll-button {
  button {
    margin-left: 0;
  }
}
